*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

.lego/*
gitea/*
drone/*
web/**
registry/**

*.pem

!gitea/gitea/conf/app.ini
!gitea/gitea/templates/custom/body_outer_pre.tmpl
!gitea/gitea/public/img
!gitea/gitea/public/css/theme-earl-grey.css

backups/**
portainer/**
pocketbase/**
go-pacman/**
mail/certs/**
mail/logs/**
mail/dms/mail-data/**
mail/dms/mail-logs/**
mail/dms/mail-state/**
