!gitea/gitea/templates/custom/body_outer_pre.tmpl
!gitea/gitea/public/img
!gitea/gitea/public/css/theme-earl-grey.css
!gitea/gitea/options/locale/locale_en-US.ini
!gitea/gitea/options/locale/locale_ru-RU.ini
!gitea/gitea/templates/custom/extra_links.tmpl
!gitea/gitea/templates/base/footer_content.tmpl
!gitea/data/gitea/templates/package/content/arch.tmpl
!gitea/data/gitea/templates/custom/extra_links_footer.tmpl

!gitea/docker-compose.yml
!minio/docker-compose.yml
!postgres/docker-compose.yml
!mail/docker-compose.yml

.env
gitea/data/**
postgres/data/**
minio/data/**
mail/data/**
