{{template "base/head" .}}

<div role="main" aria-label="{{if .IsSigned}}{{.locale.Tr " dashboard"}}{{else}}{{.locale.Tr "home"
    }}{{end}}"class="page-content home">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap" rel="stylesheet">

    <p class="main-text">{{.locale.Tr "fmnx.footer_first"}}</p>
    <img class="screenshow hidden" src="https://fmnx.su/core/infr/raw/branch/main/icons/system.gif" alt="logo">

    <center>
        <p class="description">
            {{.locale.Tr "fmnx.welcome_message"}}
        </p>
    </center>

    <div class="arrow"></div>

    <div class="separator"></div>

    <div class="flbar-content hidden">
        <img class="flbar-image" src="https://fmnx.su/core/pack/media/branch/main/logo.png"></img>
        <table class="flbar-table">
            <tr>
                <td>
                    <center>
                        <p class="flbar-text-logo">
                            {{.locale.Tr "fmnx.pack_name"}}
                        </p>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="flbar-text-content">
                        {{.locale.Tr "fmnx.pack_descr"}}
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="flbar-content hidden rotate">
        <table class="flbar-table">
            <tr>
                <td>
                    <center>
                        <p class="flbar-text-logo">
                            {{.locale.Tr "fmnx.ainst_name"}}
                        </p>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="flbar-text-content">
                        {{.locale.Tr "fmnx.ainst_descr"}}
                    </p>
                </td>
            </tr>
        </table>
        <img class="flbar-image" src="https://fmnx.su/core/ainst/raw/branch/main/assets/ainst.png"></img>
    </div>

    <div class="flbar-content hidden">
        <img class="flbar-image" src="https://fmnx.su/core/infr/media/branch/main/logo.png"></img>
        <table class="flbar-table">
            <tr>
                <td>
                    <center>
                        <p class="flbar-text-logo">
                            {{.locale.Tr "fmnx.infr_name"}}
                        </p>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="flbar-text-content">
                        {{.locale.Tr "fmnx.infr_descr"}}
                    </p>
                </td>
            </tr>
        </table>
    </div>


    <div class="flbar-content hidden rotate">
        <table class="flbar-table">
            <tr>
                <td>
                    <center>
                        <p class="flbar-text-logo">
                            {{.locale.Tr "fmnx.iso_name"}}
                        </p>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="flbar-text-content">
                        {{.locale.Tr "fmnx.iso_descr"}}
                    </p>
                </td>
            </tr>
        </table>
        <img class="flbar-image" src="https://fmnx.su/core/iso/media/branch/main/logo.png"></img>
    </div>

    <div class="flbar-content hidden">
        <img class="flbar-image" src="https://fmnx.su/core/infr/raw/branch/main/icons/vscodium.png"></img>
        <table class="flbar-table">
            <tr>
                <td>
                    <center>
                        <p class="flbar-text-logo">
                            {{.locale.Tr "fmnx.vscodium_name"}}
                        </p>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="flbar-text-content">
                        {{.locale.Tr "fmnx.vscodium_descr"}}
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="flbar-content hidden rotate">
        <table class="flbar-table">
            <tr>
                <td>
                    <center>
                        <p class="flbar-text-logo">
                            {{.locale.Tr "fmnx.gnome_name"}}
                        </p>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="flbar-text-content">
                        {{.locale.Tr "fmnx.gnome_descr"}}
                    </p>
                </td>
            </tr>
        </table>
        <img class="flbar-image" src="https://fmnx.su/core/infr/raw/branch/main/icons/gnome.png"></img>
    </div>

    <div class="flbar-content hidden">
        <img class="flbar-image" src="https://fmnx.su/core/infr/raw/branch/main/icons/docker.png"></img>
        <table class="flbar-table">
            <tr>
                <td>
                    <center>
                        <p class="flbar-text-logo">
                            {{.locale.Tr "fmnx.docker_name"}}
                        </p>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="flbar-text-content">
                        {{.locale.Tr "fmnx.docker_descr"}}
                    </p>
                </td>
            </tr>
        </table>
    </div>


    <div class="flbar-content hidden rotate">
        <table class="flbar-table">
            <tr>
                <td>
                    <center>
                        <p class="flbar-text-logo">
                            {{.locale.Tr "fmnx.chromium_name"}}
                        </p>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="flbar-text-content">
                        {{.locale.Tr "fmnx.chromium_descr"}}
                    </p>
                </td>
            </tr>
        </table>
        <img class="flbar-image" src="https://fmnx.su/core/infr/raw/branch/main/icons/chromium.png"></img>
    </div>

    <div class="separator"></div>

    <div class="flbar-content-load">
        <table class="flbar-table">
            <tr>
                <td>
                    <center>
                        <p class="flbar-text-logo">
                            {{.locale.Tr "fmnx.download_iso_image"}}
                        </p>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="flbar-text-content">
                        {{.locale.Tr "fmnx.iso_description"}}
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="flbar-content-buttons">
        <table class="flbar-table">
            <tr>
                <td class="main-page-button-padding">
                    <center>
                        <form method="get" action="https://fmnx.su/core/iso/releases/download/0.1.1/fmnx-2023.07.17-x86_64.iso">
                            <button class="ui green button" type="submit">
                                {{.locale.Tr "fmnx.download_iso_button"}}
                            </button>
                        </form>
                    </center>
                </td>
                <td class="main-page-button-padding">
                    <center>
                        <form method="get" action="https://fmnx.su/core/iso/releases">
                            <button class="ui green button" type="submit">
                                {{.locale.Tr "fmnx.discover_releases_button"}}
                            </button>
                        </form>
                    </center>
                </td>
            </tr>
        </table>
    </div>


    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<style>
    @keyframes main-page-sep-line {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
            opacity: 0;
        }
    }

    .screenshow {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
        margin-top: 80px;
        width: 60%;
        min-height: 390px;
        box-shadow: 0px 0px 4px 4px #000000;
    }

    .main-text {
        text-align: center;
        font-size: 55px;
        margin-bottom: 0px;
        font-family: "Sofia Sans", sans-serif;
    }

    .description {
        color: rgb(167, 167, 167);
        text-align: center;
        font-size: 28px;
        width: 80%;
        position: center;
        margin-bottom: 60px;
        font-family: "Sofia Sans", sans-serif;
    }

    @media(max-width: 700px) {
        .description {
            width: 90%;
        }
    }

    .arrow {
        position: relative;
        width: 100px;
        height: 100px;
        margin: 30px auto 80px auto;
    }

    .arrow:before,
    .arrow:after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-left: 26px solid #40AAFF;
        border-bottom: 26px solid #40AAFF;
        animation: arrow 3s linear infinite;
    }

    .arrow:after {
        animation: arrow 3s linear infinite -1.5s;
    }

    @keyframes arrow {
        0% {
            opacity: 0;
            transform: translate(0, -53px) rotate(-45deg);
        }

        10%,
        90% {
            opacity: 0;
        }

        50% {
            opacity: 1;
            transform: translate(0, 0) rotate(-45deg);
        }

        100% {
            opacity: 0;
            transform: translate(0, 53px) rotate(-45deg);
        }
    }

    .separator {
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, #40AAFF, #1d1f23, #40AAFF);
        position: relative;
        top: 10px;
        animation: main-page-sep-line 5s 0s infinite linear;
    }

    .hidden {
        filter: blur(5px);
        transform: translateX(-10%);
        opacity: 0;
        transition: all 1s;
    }

    .show {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }

    .flbar-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 72px;
    }

    @media(max-width: 700px) {
        .flbar-content {
            flex-direction: column;
        }

        .rotate {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }

    .flbar-content-load {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 32px;
    }

    .flbar-content-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .flbar-table {
        width: 700px;
    }

    @media(max-width: 700px) {
        .flbar-table {
            width: 90%;
        }

        .screenshow {
            width: 90%;
            margin-bottom: 20px;
            margin-top: 20px;
            min-height: 180px;
        }

        .main-text {
            font-size: 42px;
        }

    }

    .flbar-image {
        height: 220px;
        padding: 20px;
    }

    .flbar-text-logo {
        color: white;
        font-family: "Sofia Sans", sans-serif;
        font-size: 32px;
        font-weight: normal;
    }

    .flbar-text-content {
        color: rgb(197, 197, 197);
        font-family: "Sofia Sans", sans-serif;
        font-size: 24px;
        font-weight: normal;
        text-align: center;
    }

    .main-page-button-padding {
        padding: 32px;
    }

    /* Анимация квадратов в начале экрана */
    .circles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1
    }

    .circles li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.048);
        animation: animate 25s linear infinite;
        bottom: -150px;

    }

    .circles li:nth-child(1) {
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }

    .circles li:nth-child(2) {
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }

    .circles li:nth-child(3) {
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }

    .circles li:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }

    .circles li:nth-child(5) {
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }

    .circles li:nth-child(6) {
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }

    .circles li:nth-child(7) {
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }

    .circles li:nth-child(8) {
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }

    .circles li:nth-child(9) {
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }

    .circles li:nth-child(10) {
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }

    @keyframes animate {
        0% {
            transform: translateY(-1000px) rotate(720deg);
            opacity: 1;
            border-radius: 0;
        }

        100% {
            transform: translateY(0) rotate(0deg);
            opacity: 0;
            border-radius: 50%;
        }
    }
</style>

<script>
    function delay(time) {
        return new Promise(resolve => setTimeout(resolve, time));
    }
    const observer = new IntersectionObserver((entries) => {
        delay(344).then(() => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    entry.target.classList.add("show");
                }
            });
        });
    });
    const hiddenElements = document.querySelectorAll(".hidden");
    hiddenElements.forEach((elem) => observer.observe(elem));
</script>

{{template "base/footer" .}}