<a class="item" href="https://fmnx.su/core">{{.locale.Tr "links.core"}}</a>
<a class="item" href="https://fmnx.su/core/-/packages">{{.locale.Tr "links.pkgs"}}</a>
<a class="item" href="https://fmnx.su/core/help/issues">{{.locale.Tr "links.support"}}</a>