<a class="item" href="https://drone.dancheg97.ru/">{{.locale.Tr "links.drone"}}</a>
<a class="item" href="https://docs.dancheg97.ru/">{{.locale.Tr "links.docs"}}</a>
<a class="item" href="https://dozzle.dancheg97.ru/">{{.locale.Tr "links.dozzle"}}</a>
<a class="item" href="https://kuma.dancheg97.ru/">{{.locale.Tr "links.kuma"}}</a>
