<a class="item" href="https://pk.fmnx.su/">{{.locale.Tr "links.repo"}}</a>
<a class="item" href="https://up.fmnx.su/">{{.locale.Tr "links.kuma"}}</a>
<a class="item" href="https://ci.fmnx.su/">{{.locale.Tr "links.drone"}}</a>
