<a class="item" href="https://fmnx.su/core">{{.locale.Tr "links.core"}}</a>
<a class="item" href="https://fmnx.su/mirr">{{.locale.Tr "links.mirr"}}</a>
<a class="item" href="https://fmnx.su/core/iso/src/branch/main/docs">{{.locale.Tr "links.docs"}}</a>