{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{.locale.Tr " dashboard"}}{{else}}{{.locale.Tr "home" }}{{end}}"
    class="page-content home">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap" rel="stylesheet">
    <p class="features">{{.locale.Tr "startpage.footer_first"}}</p>
    <div id="light">
        <div id="lineh1"></div>
    </div>
    <img class="logo_main" src="https://backstage.io/animations/backstage-techdocs-icon-1.gif" alt="logo of website">

    <p class="features_two">{{.locale.Tr "startpage.footer_second"}}
        <br> {{.locale.Tr "startpage.footer_third"}}
    </p>

    <div class="arrow-8"></div>

    <div class="line"></div>

    <div class="choices">
        <h1 class="LOC">{{.locale.Tr "startpage.languages"}}<h1>
            <div class="choicesTable">
                <div class="img-badge">
                    <a href='https://go.dev/'>
                        <img src="https://juststickers.in/wp-content/uploads/2016/07/go-programming-language.png" />
                    </a>
                    <h2>GO</h2>
                    <p>{{.locale.Tr "startpage.go"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://www.python.org/'>
                        <img src="https://i.pinimg.com/originals/95/91/ed/9591ed82caa8d20c30db96cb7298d3a9.png" />
                    </a>
                    <h2>Python</h2>
                    <p>{{.locale.Tr "startpage.python"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://dart.dev/'>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Dart-logo.png" />
                    </a>
                    <h2>Dart</h2>
                    <p>{{.locale.Tr "startpage.dart"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://www.typescriptlang.org/'>
                        <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/1024px-Typescript_logo_2020.svg.png" />
                    </a>
                    <h2>TypeScript</h2>
                    <p>{{.locale.Tr "startpage.typescript"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://www.javascript.com/'>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/javascript-2752148-2284965.png" />
                    </a>
                    <h2>JavaScript</h2>
                    <p>{{.locale.Tr "startpage.javascript"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://en.wikipedia.org/wiki/Bash_(Unix_shell)'>
                        <img src="https://orion42.net/wp-content/uploads/2019/10/full_colored_dark_green42.png" />
                    </a>
                    <h2>Bash</h2>
                    <p>{{.locale.Tr "startpage.bash"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://en.wikipedia.org/wiki/Markdown'>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/markdown-3629496-3031559.png" />
                    </a>
                    <h2>Markdown</h2>
                    <p>{{.locale.Tr "startpage.markdown"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://en.wikipedia.org/wiki/SQL'>
                        <img src="https://cdn-ak.f.st-hatena.com/images/fotolife/n/nextscape_blog/20210911/20210911000000.png" />
                    </a>
                    <h2>SQL</h2>
                    <p>{{.locale.Tr "startpage.sql"}}</p>
                </div>
            </div>

            <div class="line2"></div>

            <h1>{{.locale.Tr "startpage.tools"}}</h1>
            <div class="choicesTable">
                <div class="img-badge">
                    <a href='https://git-scm.com/'>
                        <img src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png" />
                    </a>
                    <h2>Git SCM</h2>
                    <p>{{.locale.Tr "startpage.git"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://www.docker.com/'>
                        <img
                            src="https://iconape.com/wp-content/files/fr/370801/svg/docker-icon-logo-icon-png-svg.png" />
                    </a>
                    <h2>Docker</h2>
                    <p>{{.locale.Tr "startpage.docker"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://www.postgresql.org/'>
                        <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/993px-Postgresql_elephant.svg.png" />
                    </a>
                    <h2>Postgres</h2>
                    <p>{{.locale.Tr "startpage.postgres"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://redis.io/'>
                        <img
                            src="https://camo.githubusercontent.com/4050472d0036e02ed3805e8329474f062eac6ae847ca0ac107d4889fa778711a/68747470733a2f2f6973332d73736c2e6d7a7374617469632e636f6d2f696d6167652f7468756d622f507572706c653132342f76342f31372f63642f61322f31376364613261302d623634312d633364302d336432322d3134313730346134306565662f49636f6e2e706e672f313230307836333062622e706e67" />
                    </a>
                    <h2>Redis</h2>
                    <p>{{.locale.Tr "startpage.redis"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://nats.io/'>
                        <img src="https://raw.githubusercontent.com/docker-library/docs/ad703934a62fabf54452755c8486698ff6fc5cc2/nats/logo.png" />
                    </a>
                    <h2>Nats</h2>
                    <p>{{.locale.Tr "startpage.nats"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://swagger.io/'>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Swagger-logo.png" />
                    </a>
                    <h2>Swagger</h2>
                    <p>{{.locale.Tr "startpage.swagger"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://grpc.io/'>
                        <img src="https://urbanonsoftware.com/assets/images/posts/grpc_in_dotnet/thumbnail2.png" />
                    </a>
                    <h2>GRPC</h2>
                    <p>{{.locale.Tr "startpage.grpc"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://flutter.dev/'>
                        <img src="https://static.tildacdn.com/tild6634-3236-4237-b765-636562373338/flutter.svg" />
                    </a>
                    <h2>Flutter</h2>
                    <p>{{.locale.Tr "startpage.flutter"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://www.tensorflow.org/'>
                        <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Tensorflow_logo.svg/1200px-Tensorflow_logo.svg.png" />
                    </a>
                    <h2>TensorFlow</h2>
                    <p>{{.locale.Tr "startpage.tensorflow"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://numpy.org/'>
                        <img src="https://camo.githubusercontent.com/90bc3e6d793fabf8375b76c851a27dc63562723b487fbf544d94bc47be12cbb7/68747470733a2f2f7365656b6c6f676f2e636f6d2f696d616765732f4e2f6e756d70792d6c6f676f2d343739433234454337392d7365656b6c6f676f2e636f6d2e706e67" />
                    </a>
                    <h2>Numpy</h2>
                    <p>{{.locale.Tr "startpage.numpy"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://pillow.readthedocs.io/en/stable/'>
                        <img
                            src="https://raw.githubusercontent.com/python-pillow/pillow-logo/main/pillow-logo-248x250.png" />
                    </a>
                    <h2>Pillow</h2>
                    <p>{{.locale.Tr "startpage.pillow"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://gitea.io/en-us/'>
                        <img src="https://gitea.io/images/gitea.png" />
                    </a>
                    <h2>Gitea</h2>
                    <p>{{.locale.Tr "startpage.gitea"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://www.drone.io/'>
                        <img
                            src="https://camo.githubusercontent.com/bd8efe8c593c1160fa27f9dc8e82867810eb7abb85e44ffae41456359a640549/68747470733a2f2f696d616765732e73616173776f727468792e636f6d2f64726f6e65696f5f31303139355f6c6f676f5f313632333835353139345f7232667a632e706e67" />
                    </a>
                    <h2>Drone</h2>
                    <p>{{.locale.Tr "startpage.drone"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://github.com/louislam/uptime-kuma'>
                        <img
                            src="https://github.com/louislam/uptime-kuma/raw/master/public/icon.svg" />
                    </a>
                    <h2>Kuma</h2>
                    <p>{{.locale.Tr "startpage.kuma"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://dozzle.dev/'>
                        <img
                            src="https://raw.githubusercontent.com/selfhosters/unRAID-CA-templates/master/templates/img/dozzle.png" />
                    </a>
                    <h2>Dozzle</h2>
                    <p>{{.locale.Tr "startpage.dozzle"}}</p>
                </div>
                <div class="img-badge">
                    <a href='https://squidfunk.github.io/mkdocs-material/'>
                        <img
                            src="https://v4.mui.com/static/logo.png" />
                    </a>
                    <h2>Mkdocs</h2>
                    <p>{{.locale.Tr "startpage.mkdocs"}}</p>
                </div>
            </div>
    </div>


    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<style>
    @keyframes lineH {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
            opacity: 0;
        }
    }

    .name_main {
        text-align: center;
        font-size: 32px;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .logo_main {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .features {
        text-align: center;
        font-size: 55px;
        margin-bottom: 0px;
        font-family: "Sofia Sans", sans-serif;
    }

    .features_two {
        color: rgb(167, 167, 167);
        text-align: center;
        font-size: 28px;
        margin-bottom: 60px;
        font-family: "Sofia Sans", sans-serif;
    }

    .arrow-8 {
        position: relative;
        width: 100px;
        height: 100px;
        margin: 30px auto 80px auto;
    }

    .arrow-8:before,
    .arrow-8:after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-left: 26px solid #2480ff;
        border-bottom: 26px solid #2480ff;
        animation: arrow-8 3s linear infinite;
    }

    .arrow-8:after {
        animation: arrow-8 3s linear infinite -1.5s;
    }

    @keyframes arrow-8 {
        0% {
            opacity: 0;
            transform: translate(0, -53px) rotate(-45deg);
        }

        10%,
        90% {
            opacity: 0;
        }

        50% {
            opacity: 1;
            transform: translate(0, 0) rotate(-45deg);
        }

        100% {
            opacity: 0;
            transform: translate(0, 53px) rotate(-45deg);
        }
    }

    .line {
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, #2480ff, #1d1f23, #2480ff);
        position: relative;
        top: 35px;
        animation: lineH 5s 0s infinite linear;
    }

    .line2 {
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, #2480ff, #1d1f23, #2480ff);
        position: relative;
        top: 10px;
        animation: lineH 5s 0s infinite linear;
    }

    .choices .dbHeadName {
        margin-top: 100px;
    }

    .choices {
        text-align: center;
        font-family: "Sofia Sans", sans-serif;
    }

    .choicesTable {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .choices p {
        text-align: center;
        font-size: 40px;
        margin-bottom: 0px;
        color: rgb(167, 167, 167);
        font-size: 25px;
    }

    .choices h2 {
        font-size: 40px;
        font-weight: normal;
        color: white;
        font-family: "Sofia Sans", sans-serif;
    }

    .choices img {
        width: 68px;
        height: 68px;
    }

    .choices img:hover {
        transition: all 0.1s ease-in-out;
        transform: scale(1.2);
    }

    #light {
        position: relative;
        top: 150px;
    }

    h1 {
        color: white;
        font-family: "Sofia Sans", sans-serif;
        font-size: 60px;
        font-weight: normal;
    }

    .name_main {
        text-align: center;
        font-size: 100px;
        margin-bottom: 0px;
        margin-top: 20px;
    }

    @keyframes show {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .img-badge {
        margin-bottom: 20px;
        max-width: 300px;
    }

    #lineh1 {
        position: absolute;
        left: 0;
        bottom: 160px;
        height: 1px;
        background-image: -webkit-linear-gradient(left, #2480ff, #1d1f23, #2480ff);
        animation: lineH 5s 0s linear;
    }

    /* Анимация квадратов в начале экрана */
    .circles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1
    }

    .circles li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.048);
        animation: animate 25s linear infinite;
        bottom: -150px;

    }

    .circles li:nth-child(1) {
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }

    .circles li:nth-child(2) {
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }

    .circles li:nth-child(3) {
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }

    .circles li:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }

    .circles li:nth-child(5) {
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }

    .circles li:nth-child(6) {
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }

    .circles li:nth-child(7) {
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }

    .circles li:nth-child(8) {
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }

    .circles li:nth-child(9) {
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }

    .circles li:nth-child(10) {
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }

    @keyframes animate {
        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }

        100% {
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }
    }
</style>
{{template "base/footer" .}}