body {
  background: linear-gradient(to right, #1d1f23, rgb(19, 20, 22)) fixed;
  animation: 5s show ease;
  margin: 0;
  overflow-x:hidden;
}

#light{
  position: relative;
  top: 150px;
}

#lineh1{
  position: absolute;
  left: 0;
  bottom: 160px;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #7cf1df, #1d1f23, #7cf1df);
  animation: lineH 5s 0s linear;
}

@keyframes lineH{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;opacity: 0;
  }
}

p {
  color: white;
  font-family: "Sofia Sans", sans-serif;
}

h1 {
  color: white;
  font-family: "Sofia Sans", sans-serif;
  font-size: 60px;
  font-weight: normal;
}

.name_main {
  text-align: center;
  font-size: 100px;
  margin-bottom: 0px;
  margin-top: 20px;
}

@keyframes 
show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo_main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  margin-top: 60px;
}

.features {
  text-align: center;
  font-size: 80px;
  margin-bottom: 0px;
}
.features_two {
  color: rgb(167, 167, 167);
  text-align: center;
  font-size: 40px;
  margin-bottom: 0px;
}

.line{
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #7cf1df, #1d1f23, #7cf1df);
  position: relative;
  top: 56px;
  animation: lineH 5s 0s infinite linear;
}

.line2{
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #7cf1df, #1d1f23, #7cf1df);
  position: relative;
  top: 10px;
  animation: lineH 5s 0s infinite linear;
}

.choices {
  text-align: center;
}

.choices p {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0px;
  color: rgb(167, 167, 167);
  font-size: 25px;
}

.choices img {
  width: 68px;
  height: 68px;
  display: inline;
  padding: 30px;
  margin-top: 30px;
}

.choices img:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.5);
}

a {
  font-size: 0px;
}

.choices .choicesTableOne, .choicesTableTwo, .choicesTableThree, .choicesTableFour{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.lang_go, .lang_phyton, .lang_dart, .lang_ts, .lang_js, .lang_c, .lang_bash, .db_PostgreSQL, .db_redis, .db_nats, .db_leveldb, .tool_gitscm, .tool_docker, .tool_graphql, .tool_swagger, .tool_grpc, .tool_kubernetes, .tool_flutter, .tool_TensorFlow, .tool_gitea, .tool_svelte{
  max-width:  300px;
}

.choices h2{
  margin: -20px;  
  font-size: 40px;
  font-weight: normal;
  color: white;
  font-family: "Sofia Sans", sans-serif;
}


/* Анимация бэкграунда ниже */
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.048);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}